# Use the default port
Port 22

# do fine logging
LogLevel VERBOSE

# disallow root login
PermitRootLogin no

AuthorizedKeysFile      .ssh/authorized_keys
HostbasedAuthentication no
IgnoreRhosts yes

UsePAM yes
PasswordAuthentication no
PubkeyAuthentication yes
ChallengeResponseAuthentication no
PermitEmptyPasswords no
# Special rule for the admin
Match User admin
    PasswordAuthentication yes
    PubkeyAuthentication no
    PermitEmptyPasswords yes
Match all

# use this for the jumps
AllowAgentForwarding yes
GatewayPorts no
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*

# We need the group vagrant, else we cannot provision anymore
AllowUsers sysadmin admin vagrant

